<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.number_ticket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".manager.AddShop"></activity>
        <activity android:name=".manager.ShopList" />
        <activity android:name=".customer.SearchShopList" />
        <activity android:name=".PasswordResetActivity" />
        <activity android:name=".SelectUserActivity" />
        <activity android:name=".customer.CsRsvActivity"/>
        <activity android:name=".customer.CsTicketActivity"/>
        <activity android:name=".manager.PvActActivity"/>
        <activity android:name=".manager.PvWaitlistActivity"/>
        <activity android:name=".popup.SignUpCheck"/>
        <activity android:name=".popup.AddShopCheck"/>
        <activity android:name=".popup.DeleteShopCheck"/>
        <activity android:name=".popup.CantRsv"/>
        <activity android:name=".popup.CodeCheck"/>
        <activity android:name=".manager.AddShopAddService"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity" />
    </application>

</manifest>